.titulo
{
    text-align: center;
    margin-top: 10px;
}

.exibir-comissao
{
    text-align: center;
    margin-bottom: 20px;
}

.botao-exibir
{
    margin-top: 20px;
}

.voltar-pagina
{
    text-align: center;
    margin-bottom: 20px;
}