.titulo
{
    text-align: center;
    margin-top: 10px;
}

.cadastrar-produtos
{
    text-align: center;
    margin-bottom: 20px;
}

.mostrar-produtos
{
    text-align: center;
}

.voltar-pagina
{
    text-align: center;
}

.voltar-pagina
{
    text-align: center;
    margin-top: 20px;
}